@charset "utf-8";
/* CSS Document */
*{margin: 0;padding: 0;font-size: 16px;}
li{text-decoration: none;}
a{color: #333;}
.map{height: 100%;width: 100%;}
section{width: 100%; height: 100vh;background: #fad;}

input{border: none;
font-size: 15px;
outline: none;
text-align: center;}

button{
	border: none;
	width: 60px;
	max-width: 100px;
	vertical-align: bottom;
}
